# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Arquivos temporários
*.log
*.tmp
